@using Blazor.Diagrams.Components.Renderers;
@inject SpawnEvents SpawnEvents;

<div class="component"
     @onclick="() => SpawnEvents.OnComponentSelected(Node.Props, this.Refresh )" style="position:relative">

   
    @foreach (CustomPortModel port in Node.Ports)
    {
        <div style="position:absolute; top:@(port.Offset.Item2)px; left:@(port.Offset.Item1+5)px">
            <PortRenderer Port="port" Class="default"></PortRenderer>
        </div>
    }

    @for (int i = 0; i < Node.DisplayState.Images.Length; i++)
    {
        if (i < 2)
        {
            <img 
                 src="@Node.DisplayState.Images[i]"
                 height="@Node.DisplayState.ImageSize[i].Item2"
                 width="@Node.DisplayState.ImageSize[i].Item1"
                 ondragstart="{ return false }" />
        }
        else
        {
            <img src="@Node.DisplayState.Images[i]"
                 height="@Node.DisplayState.ImageSize[i].Item2"
                 width="@Node.DisplayState.ImageSize[i].Item1"
                 ondragstart="{ return false }"
                 style="transform: scaleX(-1);" />
        }
    }
</div>

@code {
    [Parameter]
    public TestModel Node { get; set; }

    public void Refresh()
    {
        Node.DisplayState.UpdateDisplayState(Node.Props);
        InvokeAsync(StateHasChanged);
    }
}