@using Blazor.Diagrams.Components.Renderers;
@inject SpawnEvents SpawnEvents;

<div class="component"
     @onclick="() => SpawnEvents.OnComponentSelected(Node.Props)" style="position:relative">

   
    @foreach (CustomPortModel port in Node.Ports)
    {
        var measured = Node.DisplayState.Measure();
        var margin = 5; // There is a 5 pixel margin on all our nodes
        <div style="position:absolute;
                top:@(port.Offset.Item2.Resolve(measured.Item2 + margin*2, 0))px; /*Margin*2 because its on both sides */
                left:@(port.Offset.Item1.Resolve(measured.Item1 + margin*2, 0))px">
            <PortRenderer Port="port" Class="default"></PortRenderer>
        </div>
    }

    @for (int i = 0; i < Node.DisplayState.Images.Length; i++)
    {
        if (i < 2)
        {
            <img 
                 src="@Node.DisplayState.Images[i]"
                 height="@Node.DisplayState.ImageSize[i].Item2"
                 width="@Node.DisplayState.ImageSize[i].Item1"
                 ondragstart="{ return false }" />
        }
        else
        {
            <img src="@Node.DisplayState.Images[i]"
                 height="@Node.DisplayState.ImageSize[i].Item2"
                 width="@Node.DisplayState.ImageSize[i].Item1"
                 ondragstart="{ return false }"
                 style="transform: scaleX(-1);" />
        }
    }
</div>

@code {


    public TestModel _node;
    [Parameter]
    public TestModel Node {
        get
        {
            return _node;
        }
        set
        {
            if (_node != null)
            {
                _node.Props.OnPropertyChanged -= Refresh;
            }
            _node = value;
            _node.Props.OnPropertyChanged += Refresh;
        }
    }

    public void Refresh(Properties.Properties p)
    {
        Node.DisplayState.UpdateDisplayState(Node.Props);
        InvokeAsync(StateHasChanged);
    }
}